*.o
.sconf_temp/
.sconsign.dblite
config.log
*.a
src/ckl
src/ck_motd
*~
*.swp
._*
*.obj
*.lib
*.pyc
docs/*.8
docs/*.8.gz
*.tar.bz2
*.tar.gz
*.asc
*.deb
packaging/debian.control
packaging/debian.conffiles